<template>
	<div class="container">
		<h4>Click Component</h4>
		<b>{{clicked}}</b> <-
		<button class="btn btn-primary" @click="clicked++">Click</button>
	</div>
</template>

<script>
	export default {
		name: "ClickComponent",
		data() {
			return {
				clicked: 0
			}
		}
	}
</script>

<style scoped>

</style>